<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <!-- the following enables Google Chrome Frame, see also below: conditional inclusion for IE older than 7 -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <title>Experimenting for DACS - Angularjs and todos</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-resource.min.js"></script>
    <script type="text/javascript" src="/javascripts/election.js"></script>
    <script type="text/javascript" src="/javascripts/rest_store.js"></script>
    <link rel="stylesheet" href="/stylesheets/todo.css">

</head>
<body>


  <div ng-app="election">
    <div ng-controller="ElectionCtrl">

      <h2>Total Elections:{{getTotalElections()}}</h2>
      <ul>

        <li ng-repeat="election in elections">

          <input type="checkbox" ng-model="election.done"></input>
          <span class="done-{{election.done}}">

            election.name:<b>{{election.name}}</b>, election.election_type:<b>{{election.election_type}}</b>, election.year:<b>{{election.year}}</b>


          </span>

        </li>
      </ul>

      <form>

        <label>election.name:</label><input type="text" ng-model="formElectionName" ng-model-instant>
        <label>election.election_type:</label><input type="text" ng-model="formElectionType" ng-model-instant>
        <label>election.year:</label><input type="text" ng-model="formElectionYear" ng-model-instant>
        <button ng-click="addTodo()">add</button>

      </form>

      <button ng-click="clearCompleted()">Clear Completed</button>

    </div>
  </div>

</body>
</html>
