<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @election.name %>
</p>

<p>
  <b>Election type:</b>
  <%= @election.election_type %>
</p>

<p>
  <b>Year:</b>
  <%= @election.year %>
</p>


<%= link_to 'Edit', edit_election_path(@election) %> |
<%= link_to 'Back', elections_path %>
